body {
    background-color: #a80000;
    color: #8fa800;
    font-family: sans-serif;
    margin: 0;
}

body {
    background-color:lightblue;
    color: rgb(12, 12, 12);
    font-family: sans-serif;
    margin-right: 35px;
    margin-left: 35px;

    background-image: url("https://akphoto1.ask.fm/991/649/525/910003029-1psosq8-4qcff0g8otd9cj5/original/sd.jpg");
}    

.navigation {
    text-align: center;
    color: yellow   
}
.navigation > .links li {
    list-style: none;
    display: inline-block;
}

.navigation > .links li > .link {
    text-decoration: none;
    color: white;
}

.navigation > .links li > .link:hover {
    text-shadow: 2px 4px 8px #000;
    font-size: 28px;
}



#intressen img {
    width: 50%; display:block; margin: auto;
    font-size: 35%;
}

#utbildning img {
    width: 35%; display: block; margin: auto;
    font-size: 35%;
}
 
footer {
    text-align: center;
    padding: 0px;
    width: AUTO%; display: block; margin: auto;
    background-color: #5b345e;
}